@import 'src/styles/variables';

.input__wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}

.input__label {
  color: $smokeyGrey;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.2rem;
  margin-bottom: 10px;
}

.input__input {
  width: 100px;
  height: 30px;
  padding: 15px 15px 15px 15px;

  font-size: 32px;

  border: 1px solid $lightGrey;
  border-radius: 6%;
  &:focus {
    outline: none;
    border-color: $purple;
  }
}

.input__errors {
  font-size: 9px;
  position: absolute;
  color: $lightRed;
  bottom: -25px;
}

@media (max-width: 576px) {
  //iphone
  .input__input {
    width: 50px;
    height: 15px;

    font-size: 15px;
  }
  .input__label {
    font-size: 10px;
  }
  .input__errors {
    font-size: 9px;
    position: absolute;
    color: $lightRed;
    bottom: -35px;
  }
}