$purple: hsl(259, 100%, 65%);
$purpleDisable:hsl(259, 55%, 36%);
$lightRed: hsl(0, 100%, 67%);
$white: hsl(0, 0%, 100%);
$offWhite: hsl(0, 0%, 94%);
$smokeyGrey: hsl(0, 1%, 44%);
$lightGrey: hsl(0, 0%, 86%);
$offBlack: hsl(0, 0%, 8%);