@import 'src/styles/variables';

.resultBlock__wrapper {
  display: flex;
  flex-direction: row;
}

.resultBlock__numbers {
  margin-right: 20px;
  font-weight: 800;
  font-style: italic;
  font-size: 70px;
  color: $purple;
}

.resultBlock__text {
  font-weight: 800;
  font-style: italic;
  font-size: 70px;
}

@media (max-width: 576px) {
  //iphone
  .resultBlock__text {
    font-size: 50px;
  }
  .resultBlock__numbers {
    font-size: 50px;
  }
}
